[Unit]
Description=SeaweedFS Service (%i)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/seaweedfs/seaweedfs-service.sh %i start
ExecStop=/opt/seaweedfs/seaweedfs-service.sh %i stop
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target